<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
<% include ../partials/header %>
<div class="container">
  <% include ../partials/search %>

  <div class="row">


    <%if(albums.length){ %>
   <!-- ol -->

   <% let counter = 0 %>

      <% albums.forEach( function(album){  %>

      <% if (counter % 3 === 0) { %>
          </div>
             <div class="row">
         <% } %><!-- counter -->

    <div class="four columns dig-inner">

      <!-- <li> -->
        <ul>

          <% if (album.title) { %>
            <li><h6 class='title'><a href="<%=album.resource_url%>"><%=album.title%></a></h6></li>

          <% } %>

          <% if (album.thumb === '') { %>
              <li><img class="alt-image" src="/images/discLogo.svg"></li>
          <% } else { %>
              <li><img src="<%=album.thumb%>"></li>
          <% } %>

          <% if (album.year) { %>
            <li><%=album.year%></li>
           <% } %>

          <% if (album.format) { %>
            <li><%= album.format.join(', ') %></li>
          <% } %>

          <% if (album.id) { %>
            <li><%=album.id%></li>
          <% } %>

          <% if ((album.style) && (album.style.length !== 0) ){ %>
            <li><%=album.style%></li>
           <% } %>

          <% if (album.community) { %>
              <li>Want: <%=album['community'].want%>, Have: <%=album['community'].have%></li>
          <% } %>

          <li><button class="add" type="submit">Save to Favorites</a></li>

        </ul>
        </div><!-- four columns -->
      <!-- </li> -->
    <%  counter++ %>
      <% }) %> <!-- for each -->

       <!-- ol -->

    <% } else { %>

      <h2>No Results found</h2>

      <% } %> <!-- length else -->
      </div><!--  end row -->
    </div><!-- end container -->
</body>
</html>
